config aiccu
       option username         'username'
       option password         'password'
       option protocol         'tic'
       option server           'tic.sixxs.net'
       option interface        'sixxs'
       option tunnel_id        'tunnel_id' 
       option requiretls       '0'
       option defaultroute     '1'
       option nat              '1'
       option heartbeat        '1'
